.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  max-width: 345px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.card-content {
  padding: 24px;
}

.image-container {
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  font-size: 18px;
}

.card-description-wonder {
  font-style: italic;
  line-height: 1.6;
  text-align: justify;
  color: #333;
  font-size: 16px;
  margin-top: 10px;
}

.card-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.card-actions button {
  margin: 0 8px;
  background-color: #345a8b;
  color: #fff;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.card-actions button:hover {
  background-color: #3f83b5;
}

.card-actions .like-button.liked {
  background-color: #f50057;
}

.card-actions .like-button.liked:hover {
  background-color: #d50000;
}

.share-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.share-popup-icons {
  display: flex;
  gap: 16px;
}

.share-popup-icons a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.share-popup-icons a:hover {
  color: #b3b3b3;
}
