.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.1s ease-in-out;
}

.text-decoration-none {
  text-align: center;
}

.navbar-wrapper .logo-img {
  height: 3rem;
}
.navbar-wrapper .nav-links a {
  color: rgb(51, 51, 51);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei';
}
.navbar-wrapper .nav-links a:hover {
  color: rgb(153, 122, 92);
}
.nav-gray {
  background-color: #f0f2f5;
}

.rockscan {
  color: rgb(153, 122, 92);
}

.geo_clips {
  background-color: rgb(153, 122, 92);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding: 12px 21px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.home:hover {
  background-color: rgb(139, 115, 85);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.home {
  background-color: rgb(153, 122, 92);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding: 12px 32px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.home:hover {
  background-color: rgb(139, 115, 85);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.home-faq {
  background-color: rgb(153, 122, 92);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 12px 40px;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.home-faq:hover {
  background-color: rgb(139, 115, 85);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
  .navbar-wrapper {
    padding: 1rem;
  }

  .home {
    font-size: 1rem;
    padding: 4px 8px;
    margin-top: 3px;
    font-size: 14px;
  }

  .home-faq {
    padding: 4px 14px;
    margin-top: 3px;
    font-size: 14px;
  }

  .navbar-wrapper .logo-img {
    height: 2rem;
  }

  .navbar-wrapper .nav-links {
    display: none;
  }

  .navbar-wrapper .nav-links.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .navbar-wrapper .nav-links.mobile a {
    margin: 0.5rem 0;
  }
}
