body {
    padding-top: 3em; /* Adjust this value based on the height of your navbar */
  }
.rock-list {
    min-height: 100em;
    max-width: 65em;
    margin: auto;
    padding: 1em;
    text-align: center;
  }
  .rock-container {
    display: flex;
    align-items: center;
   margin: 20px 5px; 
   padding: 20px ; 
   border: 1px solid rgba(153, 122, 92, 0.7);
   border-radius: 10px;
  }
  .search-bar {
    border: 1px solid rgba(153, 122, 92, 0.7);
    border-radius: 10px;
  }
  .rock-image-container {
    width: 30%;
   

  }
  .rock-image-container img {
    border-radius: 20px;
  }
  .search-wikipedia-btn {
    position: absolute;
    top: 4.3em;
    right: 15.5em;
    border: none;
    padding: 0.45em;
    border-radius: 10px;
    background-color: rgb(153, 122, 92);
    color: #fff;
  }
  .search-wikipedia-btn:hover {
    background-color: rgba(153, 122, 92, 0.7);
  }
  .rock-wikipedia-info {
    padding: 1em;
    
  }
  .rock-body {
    width: 70%;
  }