body {
  padding-top: 5em; /* Adjust this value based on the height of your navbar */
}

.rock-list {
  min-height: 100em;
  max-width: 65em;
  margin: auto;
  padding: 2em;
  text-align: center;
}
.rock-container {
  display: flex;
  align-items: center;
  margin: 20px 5px;
  padding: 20px;
  border: 1px solid rgba(153, 122, 92, 0.7);
  border-radius: 10px;
  background-color: #fff;
  min-height: 19em;
}
/* .searchbar-container {
    position: fixed;
    width: 60%
  } */

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-bar:focus {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar::placeholder {
  color: #999;
}

.search-bar:hover,
.search-bar:focus {
  background-color: #fff;
}

.search-bar:hover::placeholder,
.search-bar:focus::placeholder {
  color: #ccc;
}

.search-bar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
}

.search-bar-icon:hover {
  color: #333;
}

.rock-image-container {
  width: 30%;
}

.rock-image-container img {
  border-radius: 20px;
}

.search-wikipedia-btn {
  position: absolute;
  top: 4.2em;
  /* right: 10em; */
  right: 157px;

  height: 45px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: rgb(173, 142, 112);
  text-decoration: none;
  border-radius: 6px;
  padding: 8px 16px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 45px;
  margin-right: -5px;
}

.rock-wikipedia-info {
  padding: 1em;
}

.rock-body {
  width: 70%;
  padding: 0 1em;
}

.rock-list {
  min-height: 100em;
  max-width: 65em;
  margin: auto;
  padding: -3em;
  text-align: center;
}

.rock-container {
  display: flex;
  align-items: center;
  margin: 20px 5px;
  padding: 20px;
  border: 1px solid rgba(153, 122, 92, 0.7);
  border-radius: 10px;
  background-color: #fff;
  min-height: 19em;
}

.search-bar {
  border: 1px solid rgba(153, 122, 92, 0.7);
  border-radius: 10px;
}

.rock-image-container {
  width: 30%;
}

.rock-image-container img {
  border-radius: 20px;
}

.rock-body {
  width: 70%;
  padding: 0 1em;
}

.vk-btn {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  padding: 8px 16px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

/* For Mobile Style */

@media (max-width: 767px) {
  .rock-body {
    width: 100%;
  }

  .search-wikipedia-btn {
    top: 7.1em;
    margin-right: -124px;
    /* right: 0.5em; */
    margin-top: 13px;
    font-size: 14px;
  }

  .rock-list {
    padding: 2em;
  }

  .rock-container {
    margin: 10px 5px;
    padding: 10px;
    min-height: auto;
  }

  .rock-image-container {
    width: 100%;
  }

  .search-bar {
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  .rock-container {
    margin: 20px 3px;

    min-height: auto;
  }

  .search-wikipedia-btn {
    top: 12.4em;
    margin-right: -125px;
    /* right: 0.5em; */
    margin-top: 13px;
    font-size: 8px;
    width: 80px;
  }

  .vk-btn {
    font-size: 6px;
    padding: 4px 8px;
  }
}

/* GeoClipsCSS */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  max-width: 345px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
}

/* Remarkable button */
.card {
  position: relative;
}

.mark {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 60px;
  background-color: #f50057;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mark.clicked {
  background-color: #d50000;
}

.mark:hover {
  background-color: #ff4081;
}

.mark.clicked:hover {
  background-color: #b71c1c;
}

.card:hover .mark {
  background-color: #ff4081;
}

.card:hover .mark.clicked {
  background-color: #b71c1c;
}

.mark:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 16px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mark.clicked:before {
  transform: scale(0.8);
}

/* Finished here Mark Button */

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.card-content {
  padding: 24px;
}

.image-container {
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0 0; /* Add border radius to the top corners */
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* Add border radius to the top corners */
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333; /* Change the color of the title */
  font-size: 18px; /* Adjust the font size of the title */
}

.card-description {
  font-style: italic;
  line-height: 1.6;
  text-align: justify;
  color: #333;
  font-size: 16px;
  margin-top: 10px;
}

.card-actions {
  display: flex;
  justify-content: center;
}

.card-actions button {
  margin: 0 8px;
}
