<<<<<<< HEAD
* {
=======
*{
>>>>>>> 867e57ff5db53ba2d302c6fde561e3ced7cc1cc5
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD
img {
=======
img{
>>>>>>> 867e57ff5db53ba2d302c6fde561e3ced7cc1cc5
  max-width: 100%;
}
